.active-streams-container {
    width: 80%;
    flex: 1;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    scrollbar-gutter: stable both-edges;

    padding: 0 10px;

    display: flex; // vertical margin does not work without this
}

.active-streams {
    display: flex;
    flex-direction: row;

    justify-content: center;

    gap: 15px;

    flex-wrap: wrap;

    margin: auto; // center (horizontally) + vertically
}

.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.no-active-streams {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 25px;
}
