.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    border-bottom: 2px solid var(--on-layer-0);
    /* background-color: blueviolet; */

    display: flex;
    padding-left: 25px;

    font-size: 1.4rem;
}

.room-create-or-join {
    width: 500px;
}

.center-text {
    text-align: center;
}

.scroll-for-more {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--on-layer-0);

    > img {
        height: 32px;
    }
}
