.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    background-color: blueviolet;

    display: flex;
    padding-left: 25px;
}

.room-create-or-join {
    width: 500px;
}

.center-text {
    text-align: center;
}

.scroll-for-more {
    color: var(--grey-4);
}
