@font-face {
    font-family: Lexend;
    src: url(assets/Lexend/Lexend-VariableFont_wght.1.ttf);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    --grey-0: #f8f9faff;
    --grey-1: #e9ecefff;
    --grey-2: #dee2e6ff;
    --grey-3: #ced4daff;
    --grey-4: #adb5bdff;
    --grey-5: #6c757dff;
    --grey-6: #495057ff;
    --grey-7: #343a40ff;
    --grey-8: #212529ff;
    --black: #101016;
    --white: #fefff9;

    &:not(.dark) {
        --light-green: #69a297;
        --green: #44ac9e;
        --light-yellow: #f8e281;
        --yellow: #ecb236;
        --light-red: #dc4b4a;
        --red: #b73636;
        /* --light-blue: #3581b8; */
        --light-blue: #74c0fc;
        --blue: #0e6ba8;
        --dark-blue: #183059;

        --layer-0: var(--grey-0);
        --layer-1: var(--grey-1);
        --layer-2: var(--grey-2);
        --layer-3: var(--grey-3);
        --layer-4: var(--grey-4);

        --on-layer-0: var(--grey-4);
        --on-layer-1: var(--grey-5);
        --on-layer-2: var(--grey-6);
        --on-layer-3: var(--grey-7);
        --on-layer-4: var(--grey-8);
    }

    &.dark {
        --light-green: #69a297;
        --green: #44ac9e;
        --dark-green: #267267;
        --yellow: #ecb236;
        --dark-yellow: #b58622;
        --red: #e72a6e;
        --dark-red: #95234c;
        --light-blue: #74c0fc;
        --blue: #536cbb;
        --dark-blue: #2a4bb3;

        --layer-0: var(--grey-8);
        --layer-1: var(--grey-7);
        --layer-2: var(--grey-6);
        --layer-3: var(--grey-5);
        --layer-4: var(--grey-4);

        --on-layer-0: var(--grey-4);
        --on-layer-1: var(--grey-3);
        --on-layer-2: var(--grey-2);
        --on-layer-3: var(--grey-1);
        --on-layer-4: var(--grey-0);
    }

    background-color: var(--layer-1);
    color: var(--on-layer-1);

    font-family: Lexend;
}

#root {
    height: 100%;
}

a,
button {
    all: unset;
    outline: revert; /* Enables accessibility outline */
    cursor: pointer;
}

button {
    user-select: none;
}

a {
    user-select: text;
}

img {
    pointer-events: none; /* Disables dragging */
}
